<a href="https://colab.research.google.com/github/JigneshPurabiya26/Diabeter_Prediction/blob/main/Diabetes_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Importing the dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Collection and Analysis

In [4]:
# loading the diabetes dataset to a pandas dataframe
diabetes_dataset = pd.read_csv('/content/diabetes.csv')
# pd.read_csv? #this is used to get information about any function

In [3]:
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
#Getting the total number of rows and columns
diabetes_dataset.shape

(768, 9)

In [6]:
#Getting the names of all the columns and also displays the datatype and also if it contains any null values
diabetes_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [9]:
#Getting the statistical measures about the data
diabetes_dataset.describe()
#25% means in terms of glucose means 25% of the values are less than 99

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [10]:
#Getting the total number of 1's and 0's in the outcome column
#It will show us how many people i.e., womens have diabetes and how many don't
diabetes_dataset['Outcome'].value_counts()
#So the below o/p shows that 500 women don't have diabetes and 268 have

0    500
1    268
Name: Outcome, dtype: int64

0 ---> Non-Diabetic

1 ---> Diabetic

In [14]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [15]:
diabetes_dataset.groupby('Outcome').max()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,13,197,122,60,744,57.3,2.329,81
1,17,199,114,99,846,67.1,2.420,70

In [20]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [21]:
diabetes_dataset.groupby('Pregnancies').max()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,,,,,,,,
0,198,110,63,680,67.1,2.420,67,1
1,199,122,52,846,55.0,1.394,62,1
2,197,96,99,543,45.5,1.699,72,1
3,193,100,49,474,57.3,2.137,63,1
4,197,110,47,744,48.3,2.329,70,1
5,189,108,44,545,52.9,1.224,69,1
6,195,96,45,370,46.2,1.461,66,1
7,196,95,49,480,50.0,1.127,61,1
8,197,106,46,600,47.9,1.476,68,1
9,184,110,46,402,45.4,1.282,81,1
10,179,106,48,237,45.6,1.441,63,1
11,155,106,40,150,52.3,1.353,51,1
12,151,85,43,325,41.8,0.926,62,1
13,158,114,54,140,43.4,1.174,57,1
14,175,78,30,184,36.6,0.412,46,1
15,136,70,32,110,37.1,0.153,43,1
17,163,72,41,114,40.9,0.817,47,1

In [29]:
X = diabetes_dataset.drop(columns ='Outcome',axis = 1)
Y = diabetes_dataset['Outcome']

In [30]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [31]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

###Data Standardization

In [32]:
scaler = StandardScaler()

In [33]:
scaler.fit(X)

StandardScaler()

In [34]:
standardized_data = scaler.transform(X)

In [37]:
standardized_data
#what this standardization has done is that
#it has trasformed our data from various inconsistent values to
#some values between a specific range it might be using some mathematical
#formula to do so but we don't need to get into that.
#This is done in order for our machine learning model to predict the values properly

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [38]:
X = standardized_data
Y = diabetes_dataset['Outcome']

###Train Test Split

In [39]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify = Y, random_state = 2)
#In the above line Stratify means maintaining the proportion of Y in Y_train and Y_test
#Such that the outcome values are not disproportionate, which will help in better prediction

In [40]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape,

((614, 8), (154, 8), (614,), (154,))

###Training the model

####Support Vector Machine



It is a Supervised Learning Classification model which uses a Hyperplane which is a simple line to separate the class labels. Once separated it tries to maximize the distance between the labels and during the prediction it puts the data o/p into different planes accordingly. For linearly inseperable(meaning they are placed in such a way that they cannot be separated in a two dimensional space with the help of a line) datapoints it uses kernel parameter which takes the datapoints into a higher dimension, and then separates the points

In [41]:
#loading the model function into a variable
#Support Vector classifier
classifier = svm.SVC(kernel = 'linear')

In [42]:
#training the support vector machine classifier
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

### Model Evaluation

####Accuracy Score

In [46]:
#accuracy score on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print(f"The accuracy of our prediction model on the training data is {training_data_accuracy.round(2)} %")

The accuracy of our prediction model on the training data is 0.79 %

Now let's understand what we have done in the above step:-

Firstly, we used the predict function on the classifier variable which contains the svm model, and in that predict function we inputted the X_train data in order to make the o/p prediction of it and stored it in the X_train_prediction variable.

Moreover, we predicted the accuracy score of our prediction by comparing the lables or o/p stored in the X_train_prediction with the original Y_train i.e., the o/p.

#### Now Predicting the test data and finding its accuracy

In [47]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print(f"The accuracy of our prediction model on the test data is {test_data_accuracy.round(2)} %")

The accuracy of our prediction model on the test data is 0.77 %

###Building a Predictive system

In [50]:
input_data = (4,110,92,0,0,37.6,0.191,30)

#changing the input data to a numpy array
input_data_as_numpy_array = np.asarray(input_data)

#reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

#standardizing the input_data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

[[ 0.04601433 -0.34096773  1.18359575 -1.28821221 -0.69289057  0.71168975
  -0.84827977 -0.27575966]]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [52]:
#Now predicting the data on the basis of input_data that is standardized
prediction = classifier.predict(std_data)
if(prediction == 0):
  print("The person is non-diabetic.")
else:
  print("The person is diabetic.")

The person is non-diabetic.